<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/icons/favicon.png" type="image/x-icon">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://kit.fontawesome.com/6cf1f970c5.js" crossorigin="anonymous"></script>
    <title>ImmoEliza</title>
</head>
<body class="background-image">
    <div class="banner nav">
        <div class="banner-content topnav">
            <p class="underline"></p>
            <a href="#">Home</a>
            <a href="#">News</a>
            <a href="#">Contact</a>
            <a href="#">About</a>
        </div>
    </div>
    <div class="banner">
        <div class="banner-content">
            <div class="title">
                <h1>Real Estate Estimation</h1>
                <p>Easy to buy & sell your property with Immo Eliza, Top-Class Real Estate Center</p>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="banner-content">
            <div class="form-container" id="app">
                <div class="form-left">
                    <form @submit.prevent="handleSubmit">
                        <div class="form-group">
                            <p>Select features:</p>
                            
                            <div>
                                <label for="living_area"> Living area: <span v-html="form.livingArea"></span> m²</label>
                                <div>
                                    <input type="range" name="living area" min="10" max="500" step="10" class="slider" v-model="form.livingArea" >
                                </div>
                            </div>
                                
                            <div>
                                <label for="number_of_rooms"> Number of rooms: <span v-html="form.rooms"></span></label>
                                <div >
                                    <input type="range" name="number of rooms" min="1" max="20" class="slider" v-model="form.rooms" >
                                </div>
                            </div>
                                
                            <div>
                                <label for="number_of_facades"> Number of facades: <span v-html="form.facades"></span></label>
                                <div>
                                    <input type="range" name="number of facades" min="2" max="4" class="slider" v-model="form.facades" >
                                </div>
                            </div>

                            <div>
                                <label for="land_surface"> Land surface: <span v-html="landSurface"></span> m²</label>
                                <div>
                                    <input type="range" name="land surface" min="0" max="5000" step="50"  class="slider" v-model="form.landSurface"  >
                                </div>
                            </div>
                                
                            <div>
                                <label for="garden_area"> Garden area: <span v-html="form.gardenArea"></span> m²</label>
                                <div>
                                    <input type="range" name="garden area" min="0" :max="maxGardenSlider" step="50" class="slider" v-model="form.gardenArea"  >
                                </div>
                            </div>
                                
                            <div>
                                <label for="province_select">Province</label>
                                    <div>
                                        <select name="province" id="province_select" v-model="form.province" required="required">
                                            <option value="">--Please select a Province--</option>
                                            <option value="Province_Bruxelles">Bruxelles</option>
                                            <option value="Province_Flandre_occidentale">Flandre Occidentale</option>
                                            <option value="Province_Flandre_orientale">Flandre Orientale</option>
                                            <option value="Province_Anvers">Anvers</option>
                                            <option value="Province_Limbourg">Limbourg</option>
                                            <option value="Province_Brabant_flamand">Brabant Flamand</option>
                                            <option value="Province_Brabant_wallon">Brabant Wallon</option>
                                            <option value="Province_Namur">Namur</option>
                                            <option value="Province_Liege">Liege</option>
                                            <option value="Province_Hainaut">Hainaut</option>
                                            <option value="Province_Luxembourg">Luxembourg</option>
                                        </select>
                                    </div>
                            </div>
                                
                            <div>
                                <label for="subtype">Subtype</label>
                                    <div>
                                        <select name="subtype" id="subtype" v-model="form.subtype" required="required">
                                            <option value="">--Please select an option--</option>
                                            <option value="Subtype_HOUSE">House</option>
                                            <option value="Subtype_VILLA">Villa</option>
                                            <option value="Subtype_BUNGALOW">Bungalow</option>
                                            <option value="Subtype_FARMHOUSE">Farmhouse</option>
                                            <option value="Subtype_CASTLE">Castle</option>
                                            <option value="Subtype_CHALET">Chalet</option>
                                            <option value="Subtype_COUNTRY_COTTAGE">Country cottage</option>
                                            <option value="Subtype_EXCEPTIONAL_PROPERTY">Exeptional property</option>
                                            <option value="Subtype_KOT">Kot</option>
                                            <option value="Subtype_LOFT">Loft</option>
                                            <option value="Subtype_MANOR_HOUSE">Manor house</option>
                                            <option value="Subtype_MANSION">Mansion</option>
                                            <option value="Subtype_MIXED_USE_BUILDING">Mixed use building</option>
                                            <option value="Subtype_OTHER_PROPERTY">Other property</option>
                                            <option value="Subtype_SERVICE_FLAT">Service flat</option>
                                            <option value="Subtype_TOWN_HOUSE">Town house</option>
                                        </select>
                                    </div>
                            </div>
                                
                            <div>
                                <label for="state_of_builging">State of building</label>
                                    <div>
                                        <select name="state" id="state_of_builging" v-model='form.state' required="required">
                                            <option value="">--Please select an option--</option>
                                            <option value="State of building_None">None</option>
                                            <option value="State of building_AS_NEW">As new</option>
                                            <option value="State of building_GOOD">Good</option>
                                            <option value="State of building_JUST_RENOVATED">Just renovated</option>
                                            <option value="State of building_TO_BE_DONE_UP">To be done up</option>
                                            <option value="State of building_TO_RENOVATE">To renovate</option>
                                            <option value="State of building_TO_RESTORE">To restore</option>
                                        </select>
                                    </div>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <button type="submit"class="btn submit" v-html="submit_button"></button>
                        </div>
                            
                    </form>
                </div>
                <div class="form-right">
                    <div class="container banner">
                            <div class="box">
                                <div class="top">
                                    <!-- <img src="https://cdn.pixabay.com/photo/2014/07/10/17/18/large-home-389271__340.jpg" alt="" /> -->
                                    <!-- <img src="https://source.unsplash.com/random/150×200/?house" alt="building"  > -->
                                    <img :src= urlUnsplash alt="building"  >
                                </div>
                                <div class="bottom">
                                    <h3><span v-html="subtypes"></span> In <span v-html="province"></span></h3>
                                    <div class="bottom-title">
                                        <h5>Description</h5>
                                        <div><i v-for="n in stateCounter" class="fa-sharp fa-solid fa-star"></i></div>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit repellendus cupiditate nihil rem totam ut eaque soluta odit eum cum, esse, atque praesentium? Neque debitis sequi possimus animi necessitatibus.
                                    </p>
                                <div class="advants">
                                    <div>
                                        <span>Living Area</span>
                                            <div>
                                                <i class="fa-sharp fa-solid fa-house-chimney"></i
                                                ><span v-html="form.livingArea"></span><span> m²</span>
                                            </div>
                                    </div>
                                    <div>
                                        <span>Rooms</span>
                                            <div>
                                                <i class="fa-sharp fa-solid fa-bed"></i><span v-html="form.rooms"></span>
                                            </div>
                                        </div>
                                    <div>
                                        <span>Land Surface</span>
                                            <div>
                                                <i class="fa-solid fa-ruler-combined"></i><span v-html="landSurface"></span><span> m²</span>
                                            </div>
                                    </div>
                                    <div>
                                        <span>Garden</span>
                                            <div>
                                                <i class="fa-sharp fa-solid fa-tree"></i><span v-html="form.gardenArea"></span><span> m²</span>
                                            </div>
                                    </div>
                                </div>
                                <div class="price">
                                    <span>Immo Eliza Etimation:</span>
                                    <span><span v-html="est_price"></span> €</span>
                                </div>
                                </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="banner-content">
            <footer class="footer">
                <div class="footer-container">
                    <div class="footer-row">
                    <div class="footer-col">
                        <h4>company</h4>
                        <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>get help</h4>
                        <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>follow us</h4>
                        <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

<script>
    const { createApp } = Vue
    createApp({
        data() {
            return {
                form :{
                    rooms: 5,
                    livingArea : 100,
                    facades : 2,
                    gardenArea : 0,
                    landSurface: 0,
                    province: 'Province_Bruxelles',
                    subtype: 'Subtype_HOUSE',
                    state: 'State of building_AS_NEW',
                },
                est_price : 0,
                
            }
        },
        methods:{
            async handleSubmit(){
                const data = {...this.form}
                console.log(`Post request datas collected from input form`)
                const baseUrl = window.location.protocol + '//' + window.location.host;
                const apiUrl = baseUrl + '/form';
                console.log(`Base Url: ${baseUrl}\n ApiUrl: ${apiUrl}`)
                try{
                    const response = await fetch(apiUrl, {
                        method: 'POST',
                        headers: { 
                            'Content-Type': 'application/json',
                            'Access-Control-Allow-Origin':'*'
                        },
                        body: JSON.stringify({ data })
                    })
                    statCode = response.status
                    console.log(`Post request status code:${statCode}`)
                    if(statCode == 200){
                        const response_json = await response.json()
                        console.log(`Response received: ${response_json.result}`)
                        this.est_price = response_json.result
                    }
                    else{
                        alert(`Status code : ${statCode}, try again.`)
                    }
                    
                }
                catch(error){
                    alert(`Something went wrong, error: ${error}, try again`)
                }
            }                
        },
        computed:{
            landSurface: function(){
                return Math.max(
                    parseInt(this.form.landSurface),
                    parseInt(this.form.livingArea)
                )
            },
            stateCounter: function(){
                stateDict = {
                    "State of building_AS_NEW": 6,
                    "State of building_GOOD": 5,
                    "State of building_JUST_RENOVATED": 4,
                    "State of building_TO_BE_DONE_UP": 3,
                    "State of building_TO_RENOVATE": 2,
                    "State of building_TO_RESTORE": 1,
                    "State of building_None": 0
                }
                if (this.form.state != ''){
                    return stateDict[this.form.state]
                }
            },
            subtypes: function(){
                subtypeDict = {
                    "Subtype_HOUSE" : "house",
                    "Subtype_VILLA" : "villa",
                    "Subtype_BUNGALOW" : "bungalow",
                    "Subtype_FARMHOUSE" : "farmhouse",
                    "Subtype_CASTLE" : "castle",
                    "Subtype_CHALET" : "chalet",
                    "Subtype_COUNTRY_COTTAGE" : "country cottage",
                    "Subtype_EXCEPTIONAL_PROPERTY" : "exeptional property",        
                    "Subtype_KOT" : "kot",
                    "Subtype_LOFT" : "loft",
                    "Subtype_MANOR_HOUSE" : "manor house",
                    "Subtype_MANSION" : "mansion",
                    "Subtype_MIXED_USE_BUILDING" : "mixed use building",
                    "Subtype_OTHER_PROPERTY" : "other property",
                    "Subtype_SERVICE_FLAT" : "service flat",
                    "Subtype_TOWN_HOUSE" : "town house"
                }
                if ( this.form.subtype != ''){
                    subtype = subtypeDict[this.form.subtype]
                    subtype_capitalized = subtype[0].toUpperCase() + subtype.substring(1);
                    return subtype_capitalized
                }
                else return 'Home'
            },
            province: function(){
                provinceDict = {
                    "Province_Bruxelles" : "Bruxelles",
                    "Province_Flandre_occidentale" : "Flandre Occidentale",
                    "Province_Flandre_orientale" : "Flandre Orientale",
                    "Province_Anvers" : "Anvers",
                    "Province_Limbourg" : "Limbourg",
                    "Province_Brabant_flamand" : "Brabant Flamand",
                    "Province_Brabant_wallon" : "Brabant Wallon",
                    "Province_Namur" : "Namur",
                    "Province_Liege" : "Liege",
                    "Province_Hainaut" : "Hainaut",
                    "Province_Luxembourg" : "Luxembourg",
                }
                if ( this.form.province != ''){
                    return provinceDict[this.form.province]
                }
                else return 'Province'
            },
            urlUnsplash: function(){
                subtypeList = ['house', 'villa', 'castle', 'loft', 'farmhouse', 'mansion', 'town house', 'manor house', 'country cottage']
                if(subtypeList.includes(this.subtypes.toLowerCase())){
                    return `https://source.unsplash.com/random/?${this.subtypes.toLowerCase()}`
                }
                else return `https://source.unsplash.com/random/?real,estate`
            },
            maxGardenSlider: function(){
                return (parseInt(this.form.landSurface) - parseInt(this.form.livingArea))
            },
            submit_button: function(){
                if ( this.est_price != 0){
                    return 'Update'
                }
                else return 'Evaluate'
            }
        }
    }).mount('#app')
</script>

</body>
</html>