/* body {
    width: 80%;
    
} */
.container{
    border: 1px solid red;
    width: 80vw;
    margin:auto;

}
h1 {
    color: red;
    text-align: center;
}
.form{
    display:flex
}
img{
    height: 50vw;
    width: auto;
}