/* Declare variables */
:root {
  /* Colors */
  --lightGrey: #a2a8d3;
  --grey: grey;
  --lightBlue: #407088; 
  --blue: #38598b;
  --middleBlue: #113f67;
  --pastelGreen: #9fd3c7;
  /* Sliders */
  --slider: var(--blue);
  --bullet: var(--lightBlue);
  /* Fonts */
  --font-title: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  --font-card: "Jost", sans-serif;
}

/* General rules */
body,
html {
  /* font-family: Arial; */
  box-sizing: border-box;
  font-family: var(--font-card);
  font-weight: 400;
}

.banner {
  display: inline-block;
  width: 100%;
  clear: both;
  position: relative;
}

.banner-content {
  max-width: 800px;
  min-width: 650px;
  padding: 0 100px;
  margin: 0 auto;
  height: 100%;
  transition: max-width 1s;
  position: relative;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}

/* The Backgroung image */
.background-image {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../image/backgroung.jpg");
  /* Set a specific height */
  height: 100wh;
  /* Position and center the image to scale nicely on all screens */
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* The Navbar */
.topnav {
  overflow: hidden;
  /* background-color: #333; */
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 2rem 1rem;
  text-decoration: none;
  font-size: 1rem;
}

.topnav a:hover {
  color: black;
}

.underline::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 3px;
  background-color: white;
  bottom: 0;
}

h1 {
  color: white;
  font-size: 3em;
  font-family: var(--font-title);
  font-size: 50px;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 25px;
  line-height: 1.1em;
  text-transform: capitalize;
}

p {
  color: white;
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

/* Form */
.form {
  display: flex;
}

.form-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 4rem 2rem;
}

.form-group p {
  color: black;
}

/*Left Form*/
.form-left {
  max-width: 200px;
  height: fit-content;
  padding: 19px;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label {
  font-family: var(--font-card);
}

input {
  font-family: var(--font-card);
}

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 7px; /* Specified height */
  border-radius: 3px;
  margin: 9px 0;
  background: var(--slider); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background:var(--bullet);
  outline-width: 1px;
  outline-color: var(--slider);
  cursor: pointer;
}

select {
  width: 100%;
  padding: 5px;
  border: 3px solid var(--bullet);
  border-radius: 3px;
  margin: 0.3rem 0;
}

.form-bottom {
  text-align: center;
}

button {
  font-size: 2rem;
  padding: 1rem;
  width: 100%;
  margin: 1rem auto;
  background-color: var(--lightBlue);
  color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  background-color: var(--blue);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus {
  background-color: var(--blue);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
button:active {
  background-color: var(--middleBlue);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(.9);

}

/* Right form */
.form-right {
  flex-direction: column;
}

.card {
  max-width: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: flex-end;
}

.card-top-image {
  height: 100px;
}

.card-top-image img {
  background-position: right;
  background-repeat: no-repeat;
  background-size: fill;
}

/* FontAwesome Icons */
.fa-solid,
.fas {
  color: var(--lightBlue);
  font-weight: 900;
}

/* result card */
.container .box {
  width: 350px;
  background-color: white;
  position: relative;
  right: 0;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .box:first-of-type:before {
  content: "Your property";
  background-color: var(--blue);
  color: white;
  font-size: 13px;
  padding: 4px 10px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.container .box:first-of-type:after {
  content: "";
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent transparent var(--blue);
  position: absolute;
  left: 97px;
  top: 0;
  transform: translateY(-50%);
}

.container .box .top {
  position: relative;
  height: 195px;
  border-radius: 1rem;
  background-color: rgb(26, 24, 24);
}

.container .box .top:hover:before {
  opacity: 1;
}

.container .box .top img {
  width: 100%;
  height: 200px;
  margin-bottom: -4px;
  object-fit: cover;
  border-radius: 1rem;
}

.container .box .top img .peb {
  width: 100%;
  height: 100%;
  margin-bottom: -4px;
  object-fit: cover;
  border-radius: 1rem;
}

.container .box .top span {
  position: absolute;
  right: 20px;
  bottom: 15px;
  color: white;
  font-size: 20px;
}

.container .box .top span i {
  margin-left: 5px;
}

.container .box .bottom {
  padding: 20px 15px;
  position: relative;
}

.container .box .bottom h3 {
  font-size: 15px;
}

.container .box .bottom > p {
  margin: 15px 0;
  font-size: 13px;
  line-height: 1.4;
  color: var(--lightBlue);
}

.container .box .bottom .advants {
  display: flex;
  justify-content: space-evenly;
}
.container .box .bottom .bottom-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .box .bottom .advants > div {
  margin-right: 15px;
}

.container .box .bottom .advants > div > span {
  font-weight: bold;
  font-size: 12px;
}

.container .box .bottom .advants > div > div {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.container .box .bottom .advants > div > div i {
  padding-right: 4px;
  color: var(--lightBlue);
  font-size: 22px;
}

.container .box .bottom .advants > div > div > span {
  font-size: 12px;
  font-weight: bold;
}

.container .box .bottom .advants > div > div > span > span {
  color: var(--lightBlue);
  font-weight: normal;
  margin-left: 5px;
}

.container .box .bottom .price {
  margin-top: 20px;
}

.container .box .bottom .price span:first-of-type {
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}

.container .box .bottom .price span:last-of-type,
.estimation {
  display: inline-block;
  margin: 0 auto;
  color: var(--middleBlue);
  font-size: 32px;
}

/* Footer */
.footer-container {
  width: 100%;
  margin: auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul {
  list-style: none;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--blue) ;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
